{% extends "colorizer/home.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div style="height:250px"></div>
    <!--slider start-->
    <div id='result' class="sli sliwrapper">
      <div class="sli slibefore">
        <img class="sli slicontent-image" src="
{{ imagedt }}" draggable="false" /> </div>
      <div class="sli sliafter">
        <img class="sli slicontent-image" src="https://farm2.staticflickr.com/1663/25814974803_d4c55ff708_b.jpg"
          draggable="false" />
      </div>
      <div class="sli sliscroller">
        <svg class="sli sliscroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
          viewBox="0 0 100 100">
          <polygon points="0 50 37 68 37 32 0 50" style="fill:#fff" />
          <polygon points="100 50 64 32 64 68 100 50" style="fill:#fff" /></svg>
      </div>
    </div>
    <!--slider end-->
  </div>
</div>
<script src="{% static 'colorizer/js/myscript.js' %}"></script>
{% endblock %}